.card.wide {
  max-width: 900px;
  text-align: left;
}

pre {
  background: #0d0d0d;
  color: #00ffb3;
  text-align: left;
  padding: 15px 20px;
  border-radius: 10px;
  overflow-x: auto;
  white-space: pre;
  font-family: 'Courier New', monospace;
  font-size: 0.95rem;
  border: 1px solid rgba(255,255,255,0.1);
  box-shadow: inset 0 0 10px rgba(0,255,179,0.2);
}

p code, li code {
  background: rgba(255,255,255,0.1);
  color: #00ffb3;
  padding: 2px 6px;
  border-radius: 5px;
  font-size: 0.9rem;
}

code {
  background: none;
  color: #00ffb3;
  font-family: 'Courier New', monospace;
}



body {
    background-image: none;
  background-color:  #0e1a2b;
}

h2 span {
  color: #42aaff; 
}

.card {
  border-color: rgba(66, 170, 255, 0.4);
  box-shadow: 0 0 25px rgba(66, 170, 255, 0.2);
}

.card:hover {
  box-shadow: 0 0 30px rgba(66, 170, 255, 0.4);
}

.btn {
  background: #42aaff;
  box-shadow: 0 0 12px #42aaff;
}

.btn:hover {
  box-shadow: 0 0 20px #7fc9ff;
}
