<h1 class="page-title">Yuvraj Singh Rajput's Yawning Yeti || ITIS 3135</h1>
        <nav>
            <a class="normal-link" href="./">Home</a>
            ||
            <a class="normal-link" href="introduction.html">Introduction</a>
            ||
            <a class="normal-link" href="contract.html">Contract</a>
            ||
            <a class="normal-link" href="website_evaluations.html">Website Evaluations</a>
            ||
            <a class="normal-link" href="fccfsjs_outline.html">FCC Js Uutline</a>
            ||
            <a class="normal-link" href="intro_form.html">Intro Form</a>
            
        </nav>

        <nav>
            <a class="normal-link" href="yawning-yeti-sleepwear/index.html">Yawning Yeti Sleepwear</a>
            ||
            <a class="normal-link" href="stuff/Crappy&WebPAGE.htm">Crappy Webpage</a>
            ||
            <a class="normal-link" href="hobby/index.html">Hobby Page</a>
        </nav>