<h1>Yuvraj Singh Rajput's Yawning Yeti || ITIS 3135</h1>
        <nav>
            <a class="normal_link" href="./">Home</a>
            ||
            <a class="normal_link" href="introduction.html">Introduction</a>
            ||
            <a class="normal_link" href="contract.html">Contract</a>
            ||
            <a class="normal_link" href="yawning-yeti-sleepwear/index.html">Yawning Yeti Sleepwear</a>
            
        </nav>

        <nav>
            <a href=""></a>
        </nav>